body {
    /* display: flex;
    justify-content: center; */
}

header {
    height: 20vh;
}

.hide {
    display: none;
}

#grooming-container2{
    max-width: 20rem;
    border: solid 2px;
    font-size: 92px;
    text-align: center;
}

#img-uni {
    max-height: 30vh;
}

#counter {
    /* border: solid 2px; */
    font-size: 92px;
    text-align: center;
}